<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="/style/style.css">
<link rel="icon" href="/favicon.ico">
<script src="https://use.fontawesome.com/0aee473986.js"></script>


<header>
    <nav>
        <a href="/index">Start</a> |
        <a href="/equipment">Equipment</a> |
        <a href="/addEquipment">Add Equipment</a> |
        <a href="/edit">Edit Equipment</a> |
        <a href="/profile">My Profile</a> |
        <a href="/bookingLog">Log</a> |
        <a href="/logout">Logout</a> |
    </nav>
</header>